---
sudo: required
dist: trusty

language: python
python: "2.7"

env:
  - SITE=test.yml ANSIBLE_VERSION=latest
  - SITE=test.yml ANSIBLE_VERSION=2.1.0.0

branches:
  only:
    - master

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y curl

install:
  # Install Ansible.
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install --no-binary ansible ansible; else pip install --no-binary ansible ansible==$ANSIBLE_VERSION; fi

  # Add ansible.cfg to pick up roles path.
  - "{ echo '[defaults]'; echo 'roles_path = ../'; } >> ansible.cfg"

  # Install ansible-lint
  - pip install ansible-lint

script:
  # Check the role/playbook's syntax.
  - ansible-playbook -i tests/inventory tests/$SITE --syntax-check

  # Run the role/playbook with ansible-playbook.
  - ansible-playbook -i tests/inventory tests/$SITE --connection=local --become
  - cat /etc/php5/cli/php.ini
  - cat /etc/php5/fpm/php.ini
  - ansible-playbook -i tests/inventory tests/$SITE --connection=local --become
  - cat /etc/php5/cli/php.ini
  - cat /etc/php5/fpm/php.ini

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/$SITE --connection=local --become
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  # ansible-lint checks for best practice
  - ansible-lint tests/$SITE

  # Check if php is installed
  - >
    php -v
    && (echo 'PHP installed' && exit 0)
    || (echo 'PHP is not installed' && exit 1)

  # Check if socket exists
  - >
    test -e /run/travis.socket
    && (echo 'PHP socket exists' && exit 0)
    || (echo 'PHP socket does not exist' && exit 1)

  - php -v | grep ioncube

after_failure:
  # run playbook again to see idempotence failures
  - ansible-playbook -i tests/inventory tests/$SITE --connection=local --become -vvv
  - service php5-fpm status
  - sudo php -v
  - 'ls -l /etc/php5/fpm/pool.d/'
  - 'ls -l /run/'
  - sudo tail -n150 /var/log/syslog
  - ansible --version
  - ansible-lint --version
  - sudo ls -l /usr/lib/php5/ioncube/

notifications:
  slack: ambimax:2MlPTX9bY9aPxCPhJGxHKIT6
  webhooks: https://galaxy.ansible.com/api/v1/notifications/